.container {
  width: 80%;
  margin: 1em auto;
}

.container nav {
  display: flex;
  justify-content: space-between;
  background-color: #EEE;
  padding: 1em;
}

.container .links {
  display: flex;
  justify-content: space-evenly;
}

.container .links div {
  margin: auto 2em;
}